@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap");

body {
  max-width: 45rem;
  margin: 0rem auto;
  padding: 0 1rem;
  font-family: "Zen Old Mincho";
  color: #393c41;
}

a {
  color: #393c41;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  margin: 1rem 0.5rem 1rem 0.5rem;
  border-width: 0 0 1px;
  border-image: linear-gradient(90deg, hsl(0deg 0% 0% / 10%), hsl(0deg 0% 0% / 30%) 50%, hsl(0deg 0% 0% / 10%) 100%) 0 0
    100%;
  border-style: solid;
}

/*** ダークモード対応 ***/

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202124;
    color: #bdc1c6;
  }
  a {
    color: #bdc1c6;
  }
  .title,
  .title a {
    color: #ffffff;
  }
  hr {
    margin: 1rem 0.5rem 1rem 0.5rem;
    border-width: 0 0 1px;
    border-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.3) 50%, hsla(0, 0%, 100%, 0) 100%) 0
      0 100%;
    border-style: solid;
  }
}
